.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 50px;
  background: #fff;

  @include tablet {
    font-size: 16px;
  }

  @include mobile {
    font-size: 10px;
  }

  &-left {
    border: 3px black solid;
    padding-left: 70px;
    background: rgb(233, 13, 233);

    @include tablet {
      padding-right: 15px;
    }

    @include mobile {
      padding-left: 20px;
    }

    h3 {
      color: black;
      padding-bottom: 30px;
      padding-top: 40px;
      font-size: 40px;
      letter-spacing: 1;
      text-transform: uppercase;

      @include tablet {
        font-size: 16px;
      }

      @include mobile {
        font-size: 14px;
      }
    }

    .footer-icons {
      .footer-img {
        max-width: 13%;
        padding-right: 25px;

        @include tablet {
          max-width: 20%;
        }

        @include mobile {
          max-width: 23%;
        }
      }

      p {
        padding-top: 15px;
        font-size: 18px;
        font-weight: bolder;

        @include tablet {
          font-size: 16px;
        }

        @include mobile {
          font-size: 15px;
        }
      }
    }
    .footer-policy {
      display: flex;
      flex-direction: row;
      padding-top: 15px;
      padding-bottom: 15px;

      a {
        text-decoration: none;
        font-size: 17px;
        color: black;

        @include tablet {
          font-size: 14px;
        }

        @include mobile {
          font-size: 10px;
        }
      }
      p {
        font-size: 17px;
        color: black;
        padding-left: 5px;
        padding-right: 5px;

        @include tablet {
          font-size: 10px;
        }

        @include mobile {
          font-size: 10px;
        }
      }
    }

    .footer-iva {
      padding-bottom: 20px;
      font-size: 17px;

      @include tablet {
        font-size: 16px;
      }

      @include mobile {
        font-size: 15px;
      }
    }
  }

  &-right {
    border: solid 3px black;
    padding-left: 20px;
    padding-top: 40px;
    background: blue;

    h1 {
      font-size: 33px;
      line-height: 1;
      letter-spacing: 1;
      text-transform: uppercase;

      @include tablet {
        font-size: 16px;
      }

      @include mobile {
        font-size: 15px;
      }
    }

    .we-icon {
      padding-top: 40px;
      padding-left: 300px;
      width: auto;

      @include tablet {
        padding-left: 20px;
      }

      @include mobile {
        font-size: 15px;
      }
    }
  }
}
